@model WebBook.Models.Feedback

<div id="detailModalFeedback">
    <div>
        <h4>Feedback</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
               ผู้ใช้
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-3">
                ชอบ/ไม่ชอบ
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FeedbackLike)
            </dd>
            <dt class="col-sm-3">
                 คะแนนความพอใจ
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FeedbackScore)
            </dd>
             <dt class="col-sm-3">
                หัวเรื่องปํญหา
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FeedbackHeading)
            </dd>
            <dt class="col-sm-3">
                รายละเอียดปํญหา
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FeedbackDetail)
            </dd>
        </dl>
    </div>
</div>
