@model WebBook.Models.Feedback

<div id="detailModalFeedback">
    <div>
        <h4>Feedback</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FeedbackLike)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FeedbackLike)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FeedbackScore)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FeedbackScore)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FeedbackDetail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FeedbackDetail)
            </dd>
        </dl>
    </div>
</div>
