@model IEnumerable<WebBook.ViewModels.HistoryViewModel>
@{
    ViewData["Title"] = "History Page";
}

@{
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
<div class="container p-2">
    <div class="card p-1">
        <div class="card-body">
            <h1 class="text-success">ประวัติคำขอยืม</h1>
            <hr />
            <div class="table-responsive">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th>#</th>
                        <th>อีเมล</th>
                        <th>ชื่อหนังสือ</th>
                        <th>เลขหมู่หนังสือ</th>
                        <th>จุดรับหนังสือ</th>
                        <th>วันรับหนังสือ</th>
                        <th>กำหนดคืนหนังสือ</th>
                        <th>สถานะ</th>
                    </tr>
                    @{
                        var i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <th>@i</th>
                            <td>@item.UserEmail</td>
                            <td>@item.BookTitle</td>
                            <td>@item.CallNumber</td>
                            <td>@item.Location</td>
                            <td>@item.ReceiveDate</td>
                            <td>@item.ReturnDate</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </table>
            </div>
            
        </div>
    </div>
    
</div>
