@model IEnumerable<WebBook.ViewModels.HistoryViewModel>
@{
    ViewData["Title"] = "History Page";
}

@{
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Index">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">ประวัติคำขอยืม</li>
    </ol>
</nav>
<div class="container p-2">
    <div class="card p-1">
        <div class="card-body">
            <h1 class="text-success">ประวัติคำขอยืม</h1>
            <hr />
            <div class="table-responsive">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th>#</th>
                        <th>อีเมล</th>
                        <th>ชื่อหนังสือ</th>
                        <th>เลขหมู่หนังสือ</th>
                        <th>จุดรับหนังสือ</th>
                        <th>วันรับหนังสือ</th>
                        <th>กำหนดคืนหนังสือ</th>
                        <th>สถานะ</th>
                    </tr>
                    @{
                        var i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.UserEmail</td>
                            <td>@item.BookTitle</td>
                            <td>@item.CallNumber</td>
                            <td>@item.Location</td>
                            <td>@item.ReceiveDate</td>
                            <td>@item.ReturnDate</td>
                            @if (@item.Status == "เกินกำหนดคืนหนังสือ")
                            {
                                <td class="text-danger">@item.Status</td>
                            }
                            else if (@item.Status == "ส่งคืนหนังสือเรียบร้อย")
                            {
                                <td class="text-success">@item.Status</td>
                            }
                            else
                            {
                                <td>@item.Status</td>
                            }

                        </tr>
                    }
                </table>
            </div>
            
        </div>
    </div>
    
</div>
