@model WebBook.Models.User
@using Microsoft.AspNetCore.Session;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Profile";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-info">
        @ViewBag.ErrorMessage
    </div>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Index">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">ข้อมูลส่วนตัว</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname)</span></div>
        </div>
        <div class="col-md-10 col-lg-10 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">ข้อมูลผู้ใช้</h4>
                    <a class="btn btn-primary" asp-action="ProfileEdit" asp-route-id="@ViewBag.UserId">
                        <i class="bi bi-plus-lg"></i>    แก้ไข
                    </a>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">ชื่อ</label><input type="text" class="form-control" value="@Html.DisplayFor(model => model.Firstname)" disabled></div>
                    <div class="col-md-6"><label class="labels">นามสกุล</label><input type="text" class="form-control" value="@Html.DisplayFor(model => model.Lastname)" disabled></div>
                    <div class="col-md-6"><label class="labels">อีเมล</label><input type="email" class="form-control" value="@ViewBag.UserEmail" disabled></div>
                    <div class="col-md-6"><label class="labels">รหัสผ่าน</label><input type="password" class="form-control" value="********" disabled></div>
                    <div class="col-md-6"><label class="labels">รหัสประจำตัว</label><input type="text" class="form-control" value="@Html.DisplayFor(model => model.StudentId)" disabled></div>
                    <div class="col-md-6"><label class="labels">เบอร์โทรศัพท์</label><input type="tel" class="form-control" value="@Html.DisplayFor(model => model.Telephone)" disabled></div>
                    <div class="col-md-6"><label class="labels">หน่วยงาน</label><input type="text" class="form-control" value="@ViewBag.Agency" disabled></div>
                    <div class="col-md-6"><label class="labels">ประเภทผู้ใช้</label><input type="text" class="form-control" value="@ViewBag.UserType" disabled></div>
                </div>
            </div>
        </div>
    </div>

</div>
