@using System.Globalization
@model IEnumerable<WebBook.ViewModels.BookViewModel>
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "หนังสือ";
	var stext = ViewBag.stext;
	CultureInfo us = new CultureInfo("en-US");
	string theDate = DateTime.Now.Date.ToString("yyyy-MM-dd", us);
    //ถ้าไม่ได้ระบุวันให้เป็นวันปัจจุบัน
    //if (ViewBag.theDate!=null)
    //    theDate = ViewBag.theDate;
    //else
    //    
}

@if (TempData["Message"] != null)
{
	<div class="alert alert-info">
		@TempData["Message"]
	</div>
}

<h1>จัดการหนังสือ</h1>
<section >
	<div class="container-fluid  px-0">
	<div class="card shadow w-100 mb-1">
		<div class="card-header py-2 ">

				<form asp-controller="Book" asp-action="Index">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-7">
			<a class="btn btn-primary" asp-action="Create">
				<i class="bi bi-plus-lg"></i>    เพิ่ม
			</a>
			<button type="button" id="deweiei" class="btn btn-secondary">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
					<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
				</svg>
			</button>
		</div>

		<div class="col-sm-6 col-md-6 col-lg-5 text-end">
			<div class="input-group">
				<select class="form-control" aria-label="Default select example" name="idBT" id="idBT">
								@if (ViewBag.filterBT != null)
								{
									<option value="@ViewBag.filterBT.BookTypeId">@ViewBag.filterBT.BookTypeName</option>
								}
								<option value=" ">ประเภทหนังสือทั้งหมด</option>
								@foreach (var item in ViewBag.BookType)
								{
									<option value="@item.BookTypeId">@item.BookTypeName</option>
								}

							</select>
				<input type="text" name="stext" id="search" placeholder="ค้นหา..." class="form-control" value="@stext" />
				<button type="submit" class="btn btn-secondary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg>
				</button>
			</div>
		</div>
	</div>

</form>

		</div>
			
		<div class="card-body">
				<div class="row">
			@foreach (var item in Model)
			{   
				// check file image 
				@*var imgbook = "";
				try
                {
                    var path = "wwwroot\\img\\imgbook\\" + item.BookCover;
                    IEnumerable<string> items = Directory.EnumerateFileSystemEntries(path);
					imgbook = "/img/imgbook/" + @item.BookCover;
                }
                catch(Exception ex)
                {
                    imgbook = "/img/imgbook/img-notFound.jpg";
                }*@
				// check file image END
			    var imgbook = "/img/imgbook/" + @item.BookCover;

				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2   mb-4 my-2 mb-lg-0">
					<div class="card p-2">
						<div style="height:auto; max-height:340px;">
						<img src="@imgbook" class="card-img-top  shadow" style="max-height:335px;"  alt="Laptop" />
						</div>
						<div class="card-body p-1">
							<div class="d-flex justify-content-between">
								<p class="small">@item.BookName</p>
							</div>
							<div class="d-flex justify-content-center p-0 btn-group">
							
								<div class="btn-group w-100 " role="group" aria-label="Basic example">


								 <a data-toggle="modal" data-target="#logoutModal" class="Detail btn btn-outline-primary">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
										  <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"></path>
										  <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"></path>
										</svg>
										<input type="text" class="idbook" hidden value="@item.BookId" />
										
								 </a>
									@*<a asp-action="Edit" asp-route-id="@item.BookId" >*@
									<a type="button" asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-outline-warning">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
											<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" ></path>
											<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" ></path>
										</svg>

										@*<i class="bi bi-pencil-square"></i>*@
										
									</a>
								
									@*<a  asp-action="Delete" asp-route-id="@item.BookId" >*@
									<a type="button" asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-outline-danger">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x " viewBox="0 0 16 16">
											<path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z" ></path>
											<path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" ></path>
										</svg>
										
									</a>
								</div>
									
								
							 </div>
						</div>
					</div>
				</div>


			}
		</div>
		</div>
	</div>
</div>

</section>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1>รายละเอียดหนังสือ</h1>

				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				
			</div>
			<div class="modal-body">
				<div id="detailbook">

				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	$( document ).ready(function() {

		$('#deweiei').click(function() {
			location.reload();
		});
		$('.Detail').click(function() {
			var idbook = $(this).find(".idbook").val();
			console.log("idbook  "+idbook);
			$('#detailbook').load("/Book/Detail/"+idbook);
		});
		$('#logoutModal').on('hidden.bs.modal', function () {
			console.log("remove  ");
		  $(".modal-body").find("#detailModalBook").remove();
		})


		
	});// END document  ready

</script>
