@model WebBook.Models.Issue

<div id="detailModalIssue">
    <div>
        <h4>Feedback</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IssueTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IssueTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IssueDetail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IssueDetail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IssueStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IssueStatus)
            </dd>
        </dl>
    </div>
</div>
