@model IEnumerable<WebBook.ViewModels.BookViewModel>
@{
	var book = ViewBag.Book;
	var img = "/img/imgbook/" + book.BookCover;
	var booktype = ViewBag.booktype;
}
<style>

	/**{
			font-family: 'Anuphan', sans-serif;
		   font-family: 'Arimo', sans-serif;
			font-family: 'Bebas Neue', cursive;
			font-family: 'Kanit', sans-serif;
			font-family: 'Mali', cursive;
			font-family: 'Mitr', sans-serif;
			font-family: 'Montserrat', sans-serif;
		}*/


	.book-btn {
		color: #fff;
		background-color: #3D8361;
		border-color: #000; /*set the color you want here*/
	}

	.book-btn:hover {
			color: #fff;
			background-color: #1C6758;
			border-color: #000; /*set the color you want here*/
	}
	.bookType-btn {
		color: #000;
		background-color: #C7E9B0;
		border-color: #C7E9B0; /*set the color you want here*/
	}

	.bookType-btn:hover {
			color: #fff;
			background-color: #A4BC92;
			border-color: #A4BC92; /*set the color you want here*/
	}
	.bookname{
		color:#00425A ;
	}
</style>
<div class="container">
	<div class="row d-flex justify-content-center">
		<h1 class="col-12 text-center bookname my-4 mt-3">@book.BookName</h1>

		<div class="col-4 ">
			<img src="@img" class="mx-auto d-flex justify-content-center" height="400px" alt="...">
		</div>
		<div class="col-5 ">
			<div class="row ">
				<div class="col-12">
					<div class="d-flex justify-content-between">
					<p>โดย : @book.AuthorName  </p>
					<a asp-controller="Account" asp-action="BookReq" class="btn book-btn " asp-route-id="@book.BookId">ยืมหนังสือ</a>
					</div>
					<p>สำนักพิมพ์ : @book.Publisher</p>
					<p>ปีที่พิมพ์ : @book.PublicationYear</p>
					<p>เลขหมู่หนังสือ : @book.CallNumber</p>
				</div><hr />
				<div class="col-12 mb-3">
					<label>ประเภทหนังสือ : </label>
					@foreach (var item in booktype)
					{
						<a asp-action="SearchID" class="btn bookType-btn my-1"  asp-route-id="@item.BookTypeId">@item.BookTypeName</a>
					}
				</div> <hr />
				<div class="col-12 ">
					<p>เรื่องย่อ</p>
					@book.BookDetail
				</div>

			</div>
		</div>



	</div>
</div>



